* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9161b554;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b55879;
    background-color: rgb(93, 38, 183);
}

#resetBtn {
    padding: 1rem;
    font-size: 17px;
    background-color: rgb(1, 1, 1);
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 17px;
    background-color: rgb(1, 1, 1);
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #370a0a;
    font-size: 5vmin;
    /* padding: 20px; */
}

.msg-container {
    height: 50vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}